<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>
        上传图片
    </title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static "blog/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}
</head>
<body>
<div class="form-group">
    <div class="row">
    <div class="col-xs-6">
        <label for="label"><h3>图片简介</h3></label>
        <input type="text"  required class="form-control" name="label" placeholder="图片简介" id="introduction" />
    </div>
</div>
    <div class="row">
        <div class="col-xs-6">
            <label for="addFile">上传图片</label>
            <input type="file" id="addFile" required>
        </div>
    </div>
</div>
<img src="" id="image" >
<br>
<div>
    <div>
        <button type="submit" id="saveFile" class="btn btn-primary ">上传</button>
    </div>
</div>
<script type="text/javascript" src="{% static "blog/jquery.js" %}" ></script>
<script type="text/javascript">
    $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' }});
        $(document).ready(function () {
                var form = new FormData();
                var fileChoose=document.getElementById('addFile');
                var Img = document.getElementById('image');
                var maxlength=200*1024; //图片最大为200k
                var canvas = document.createElement("canvas");
                var context = canvas.getContext('2d');
                fileChoose.onchange=function () {
                    File=fileChoose.files[0];  //获得文件
                    if(File.type!='image/jpeg')
                    {
                        alert('请勿传入除图片之外的格式');
                        return;
                    }
                    var fileReader = new FileReader(); //读取客户端上的文件
                    fileReader.readAsDataURL(File);
                    fileReader.onload=function () {   //读文件成功的回调
                        Img.src = fileReader.result;  ////读取到的文件内容.这个属性只在读取操作完成之后才有效,并且数据的格式取决于读取操作是由哪个方法发起的.所以必须使用reader.onload，
                        if(File.size>maxlength)
                        {
                            image.onload = function() {
                            var w = image.naturalWidth,
                                h = image.naturalHeight;
                                canvas.width = w;
                                canvas.height = h;
                                context.drawImage(image, 0, 0, w, h, 0, 0, w, h);
                            };
                            data=canvas.toDataURL('image/jpeg',0.2); //data url的形式
                            data = data.split(',')[1];
                            data = window.atob(data);
                            var ia = new Uint8Array(data.length);
                            for (var i = 0; i < data.length; i++) {
                                  ia[i] = data.charCodeAt(i);
                            }
                             //canvas.toDataURL 返回的默认格式就是 image/png
                            var blob = new Blob([ia], {
                             type: "image/jpeg"
                            });
                            alert(blob);
                            form.append("file",blob);
                        }
                    };
            };
        $('#saveFile').click(function (){
            var words = $('#introduction').val();


            //form.append("File",File);
            //alert(File.size);


            //var File = $('#addFile')[0].files[0];
            form.append("introduction",words);
            if(File==undefined||words=='')
            {
                alert('请填写后再提交！');
            }
            else{
                $.ajax({url:'',type:'post',data:form,
                processData:false,  // 告诉jquery不转换数据
                contentType:false,  // 告诉jquery不设置内容格式
                success:function (data,status) {
                {
                    if(data.response=='上传成功')
                    {
                        alert(data.response);
                        var y=document.createElement('option');
                        y.text = data.path;
                        y.value = data.id;
                        //给父窗口的label多选框添加刚刚新增的label
                        window.opener.document.getElementById('imageSelect').add(y,0);
                        window.close();
                    }
                    else{
                        alert(data);
                    }
                }
            },async:false});
            }
        });
    });
</script>
</body>
</html>