<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        增加标签
    </title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static "blog/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}
</head>
<body>
<div class="row">
    <div class="col-lg-6">
        <label for="title">标签内容</label>
        <input type="text" class="form-control" name="label" required placeholder="标签" id="label">
    </div>
    <div class="col-lg-offset-8">
        <button type="submit" id="save" class="btn btn-primary ">保存</button>
    </div>
</div>

<script type="text/javascript" src="{% static "blog/jquery.js" %}" ></script>
<script type="text/javascript">
    $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' }});
    $(document).ready(function () {
        $('#save').click(function (){
            var x = $('#label').val();
            $.ajax({url:'',type:'post',data:{'label':x},success:function (data,status) {
            {
                alert(data);
                if(status.isEqual('success'))
                {
                    //提交成功后关闭窗口的动作
                    window.opener = null;
                    window.open('','_self');
                    window.close();
                }
            }
            },async:false});
        });
    });
</script>
</body>
</html>