<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        增加标签
    </title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static "blog/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}
</head>
<body>
<div class="row">
    <div class="col-xs-6">
        <label for="label"><h3>标签内容</h3></label>
        <input type="text"  required class="form-control" name="label" placeholder="标签" id="label" />
    </div>
</div>
<br>
<div>
    <div>
        <button type="submit" id="save" class="btn btn-primary ">保存</button>
    </div>
</div>

<script type="text/javascript" src="{% static "blog/jquery.js" %}" ></script>
<script type="text/javascript">
    $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' }});
    $(document).ready(function () {
        $('#save').click(function (){
            var x = $('#label').val();
            if(x.isElementContentWhitespace)
            {
                alert('请填写后再提交！')
            }
            else{
                $.ajax({url:'',type:'post',data:{'label':x},success:function (data,status) {
            {
                if(data=='保存成功')
                {
                    alert(data);
                    var y=document.createElement('option');
                    y.text = x;
                    //给父窗口的label多选框添加刚刚新增的label
                    window.close();
                    window.opener.document.getElementById('labelSelect').add(y,0);
                }
                else{
                    alert(data);
                }
            }
            },async:false});
            }
        });
    });
</script>
</body>
</html>