<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>
        {% if user.name == id %}
        {% if user.username %}
            {{ user.username }}的个人博客
            {% else %}
            {{ user.name }}的个人博客
        {% endif %}
        {% else %}
            您是访客
        {% endif %}
    </title>
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static "blog/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}
</head>
<body>
<!--用于接收提示信息, 现已选择ajax的实现方案-->
{#{% if messages %}#}
{#<ul class="messages" hidden>#}
{#    {% for message in messages %}#}
{#    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
{#        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}#}
{#        {{ message }}#}
{#    </li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% endif %}#}


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <a class="navbar-brand" href=""></a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left" >
                <li><a href="/id={{ id }}/">主页<span class="sr-only">(current)</span></a></li>
                <li><a href="/id={{ id }}/diary/">小日记</a></li>
                <li><a href="/id={{ id }}/tech/">收获</a></li>
                <li><a href="/id={{ id }}/trip/">旅游</a></li>
                <li><a href="/id={{ id }}/photo/">照片墙</a></li>
                <li><a href="">日程安排</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    {% if user.is_authenticated %}
                        <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if user.username %}
                        您好！  {{ user.username }}
                    {% else %}
                        您好！  {{ user.name }}
                    {% endif %}
                    <span class="caret"></span>
                </a>
                    {% else %}
            {#此处负责登录#}
            <a href="#" class="dropdown-toggle"  data-toggle="modal" data-target="#myModal">登录<span class="caret"></span></a>

        {% endif %}
                  <ul class="dropdown-menu">
                    <li><a href="" data-toggle="modal" data-target="#userInformation"><span class="glyphicon glyphicon-user"></span>     设置  </a></li>
                    <li><a href="" data-toggle="modal" data-target="#modifyPassword"><span class="glyphicon glyphicon-edit"></span>      修改密码</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href='' id="logout"><span class="glyphicon glyphicon-log-out"></span>     退出登录</a></li>
                  </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="站内搜索">
              </div>
              <button type="submit" class="btn btn-default">搜索</button>
            </form>

        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<!--登录模态框部分-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="blogID">博客账号</label>
            <input type="text" class="form-control" name="blogID" required placeholder="账号" id="blogID">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" class="form-control" name="password" required id="exampleInputPassword1" placeholder="密码">
            </div>
            <br>
      </div>
      <div class="modal-footer">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-8">
                <button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">取消</button>
                <button type="submit"  class="btn btn-primary " id="submit">登录</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--修改密码模态框部分-->
<div class="modal fade" id="modifyPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="headerText">修改密码</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="oddPassword">旧密码</label>
            <input type="password" class="form-control" name="oldPassword" required placeholder="旧密码" id="oldPassword">
            </div>
            <div class="form-group">
            <label for="newPassword">新密码</label>
            <input type="password" class="form-control" name="password" required id="newPassword" placeholder="新密码">
            </div>
            <div class="form-group">
            <label for="repeatPassword">请重复新密码</label>
            <input type="password" class="form-control" name="password" required id="repeatPassword" placeholder="请重复新密码">
            </div>
            <br>
      </div>
      <div class="modal-footer">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-8">
                <button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">取消</button>
                <button type="submit"  class="btn btn-primary " id="changePassword">确认</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--设置信息模态框部分-->
<div class="modal fade" id="userInformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>设置个人信息</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <label for="username" class="DispearForPhoto">博客昵称</label>
                        <input type="text" class="form-control DispearForPhoto" name="username"  placeholder="昵称" id="title" value={{ user.username }}>
                        <br>
                        <label for="introduction">自我简介</label>
                        <textarea class="form-control" rows="3" id="introduction" placeholder="在这里写下你的简介吧" name="introduction" >{{ author.introduction }}</textarea>
                    </div>
                    <div class="col-lg-offset-2 col-lg-4 col-xs-6">
                        <br><p style="color:#737373;">点击添加头像</p><br><br>
                        <span style=" padding:20%;border: dotted 2px; color:#737373; " id="addImageButton"><span class="glyphicon glyphicon-plus"></span></span>
                        <br><br><br>
                        <input type="file" id="addImage" required style="display: none;">
                    </div>
                </div>
                <br>
                <div class="row DispearForPhoto">
                    <div class="col-lg-3" id="label">
                        <label for="label">身份标签</label>
                        <select multiple name="labels" class="form-control" id="labelSelect">
                            {% for label in labels %}
                                {% if label in author.labels.all %}
                                    <option selected value="{{ label.id }}">{{ label }}</option>
                                {% else %}
                                    <option value="{{ label.id }}">{{ label }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <h6 style="color: #737373">按住 ”Control“，或者Mac上的 “Command”，可以选择多个。</h6>
                    </div>
                    <div class="col-lg-1 DispearForPhoto">
                        <br><br><br>
                        <a  onclick="open_win_label()"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
            </div>
      <div class="modal-footer">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-8">
                <button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">取消</button>
                <button type="submit"  class="btn btn-primary " id="changePassword">确认</button>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<!--页脚部分-->
<footer class="text-center " style="line-height: 20px;color: #9d9d9d ">
    <hr>
    <ul class="list-inline" >
        <li>感谢开源项目：<a href="http://www.djangoproject.com/">Django</a></li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
    </ul>
    <ul class="list-inline">
        <li>项目源码管理<li><a href="https://github.com/Fitz5264/myblog">GitHub</a></li></li>
    </ul>
    <p>Copyright &copy; 2017, All Rights Reserved</p>

</footer>
</body>


<script type="text/javascript" src="{% static "blog/jquery.js" %}" ></script>
<script type="text/javascript">
    //这一段负责导航栏的active动态效果  此段不会无效
{#$(document).ready(function () {#}
{#    $('ul.nav:first>li').mouseover(function (e) {#}
{#    e.preventDefault();#}
{#    $('ul.nav:first>li').css("background-color","rgba(0,0,0,0)");#}
{#    $(this).css("background-color","rgb(13,129,189)");#}
{#    });#}



 //这一段负责导航栏的active动态效果
//此处又是一个有史以来遇到的最大的坑
//在导航栏出加了个 data-toggle="collapse"然后 这段jquery神秘的失效  以此警示后人
//！！！
$(document).ready(function () {
$('ul.nav:first>li').mouseover(function (e) {
e.preventDefault();
$('ul.nav:first>li').removeClass('active');
$(this).addClass('active');
});

//用于提示弹框信息
$(document).ready(function () {
    var x= $('ul.messages>li').text();
    if(x==""){

    }
    else{
        alert(x);
    }
});
});
//这个csrf认证的必须放在basic.html中，放在main.html中则会post请求被拒
$.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' }});
{#        $(document).ready(function () {#}
{#        //用这种直接pos可以快速便捷地使用ajax#}
{#            $('ul.list-inline').click(function () {#}
{#                $.post('/', {'blogID':'294889365','password':'abcd159753'},function(data,status) {#}
{#                    alert(status);#}
{#                    $('body').html();#}
{#                });#}
{#            })#}
{#            $('ul.list-inline').click(function (){#}
{#            $.ajax({url:'/',type:'post',data:{'blogID':'294889365','password':'abcd159753'},success:function (data,status) {#}
{#                alert(data);#}
{#                $('body').html(data);#}
{#            }})#}
{#             });#}


//此处有大坑！！！
//在用ajax提交时，不能有原来的<form></form>标签的存在，否则会干扰ajax的运行！！！
    $(document).ready(function () {
        $('#submit').click(function (){
            var blogID = $('#blogID').val();
            var password = $('#exampleInputPassword1').val();
            $.ajax({url:'',type:'post',data:{'blogID':blogID,'password':password},success:function (data,status) {
                if(data.length>10)
                {
                    //$('html').html(data);       //刷新后字体会变小的bug
                    //window.location.reload();   //可以解决bug，但觉得还不够好
                    top.location.reload()       //可以解决bug，只刷新顶部，比较好
                    //$('.username').load('/' ,' .username')
                }
                else
                {
                    alert(data);
                }
            },async:false});
        });
        $('input').keypress(function (event) {
            alert(event.which());
            if(event.which=='18')
            {
                var blogID = $('#blogID').val();
            var password = $('#exampleInputPassword1').val();
            $.ajax({url:'',type:'post',data:{'blogID':blogID,'password':password},success:function (data,status) {
                if(data.length>10)
                {
                    //$('html').html(data);       //刷新后字体会变小的bug
                    //window.location.reload();   //可以解决bug，但觉得还不够好
                    top.location.reload()       //可以解决bug，只刷新顶部，比较好
                    //$('.username').load('/' ,' .username')
                }
                else
                {
                    alert(data);
                }
            },async:false});
            }
        })
    });
    //这里负责对回车键的时间监控
    $(document).ready(function () {
        $('#myModal').keydown(function (event) {
            if(event.which=='13')
            {
                var blogID = $('#blogID').val();
            var password = $('#exampleInputPassword1').val();
            $.ajax({url:'',type:'post',data:{'blogID':blogID,'password':password},success:function (data,status) {
                if(data.length>10)
                {
                    //$('html').html(data);       //刷新后字体会变小的bug
                    //window.location.reload();   //可以解决bug，但觉得还不够好
                    top.location.reload()       //可以解决bug，只刷新顶部，比较好
                    //$('.username').load('/' ,' .username')
                }
                else
                {
                    alert(data);
                }
            },async:false});
            }
        })
    });
    $(document).ready(function () {
        $('#logout').click(function (){
            $.ajax({url:'',type:'post',data:{'logout':true},success:function (data,status) {
                if(data.length>10)
                {
                    top.location.reload()       //可以解决bug，只刷新顶部，比较好
                }
                else
                {
                    alert(data);
                }
            },async:false});
        });
    });
    $(document).ready(function () {
        $('#changePassword').click(function (){
            var oldPassword = $('#oldPassword').val();
            var newPassword = $('#newPassword').val();
            var repeatPassword = $('#repeatPassword').val();
            var hint = $('#headerText');
            if(newPassword.length<=8)
            {
                hint.text('密码长度需大于8位');
                hint.css({'color':'red',position:'relative',left:'-30px'});
                hint.animate({left:"30px"},'slow');
            }
            else if(repeatPassword!=newPassword){
                hint.text('两次输入的密码不一致');
                hint.css({'color':'red',position:'relative',left:'-30px'});
                hint.animate({left:"30px"},'slow');
            }
            else if(newPassword==oldPassword)
            {
                hint.text('不能与旧密码相同');
                hint.css({'color':'red',position:'relative',left:'-30px'});
                hint.animate({left:"30px"},'slow');
            }
            else
            {
                $.ajax({url:'/id={{ id }}/changePass/',type:'post',data:{'oldPassword':oldPassword,'newPassword':repeatPassword},success:function (data,status) {
                if(data=='修改成功'){
                    hint.text('修改密码');
                    hint.css({'color':'black'});
                    alert(data);
                    top.location.reload();
                }
                else{
                    hint.text(data);
                    hint.css({'color':'red',position:'relative',left:'-30px'});
                    hint.animate({left:"30px"},'slow');
                }
                },async:false});
            }
        });
    });

    $(document).ready(function () {
        $('#addImageButton').click(function () {
            $('#addImage').slideToggle();
        })
    })
</script>
<script src="{% static "blog/bootstrap/js/bootstrap.min.js"%}"></script>
</html>