{% extends "blog/base.html" %}


{% block content %}
    <div class="panel inline-group">
    <ul class="list-inline">
        <li><a href="/" style="text-decoration: none;color: #0e90d2"><h4><span class="glyphicon glyphicon-menu-left"></span>主页</h4></a></li>
        {% if essay.title %}
            <li><a href="/{{ contentURL }}/" style="text-decoration: none;color: #0e90d2"><h4><span class="glyphicon glyphicon-menu-left"></span>{{ contentType }}</h4></a></li>
        {% endif %}
        <li><a href="" style="text-decoration: none;color: grey"><h4><span class="glyphicon glyphicon-menu-left"></span>
            {% if essay.title %}
                {{ essay.title }}
            {% else %}
                {{ contentType }}
            {% endif %}
        </h4></a></li>
    </ul>
    </div>
{% block diaries %}

{% endblock %}
{% endblock %}