{% extends "blog/basic.html" %}


{% block content %}
    <div class="panel inline-group">
    <ul class="list-inline">
        <li><a href="/" style="text-decoration: none;color: #0e90d2"><h4><span class="glyphicon glyphicon-menu-left"></span>主页</h4></a></li>
        <li><a href="" style="text-decoration: none;color: #0e90d2"><h4><span class="glyphicon glyphicon-menu-left"></span>小日记</h4></a></li>
        <li><a href="" style="text-decoration: none;color: grey"><h4><span class="glyphicon glyphicon-menu-left"></span>标题</h4></a></li>
    </ul>
    </div>
{% block diaries %}

{% endblock %}
{% endblock %}