{% extends "blog/content.html" %}



{#这里是具体文章的区域#}
{% block diaries %}
    <div class="center-block" style="width: 70%;">
        <div class="panel panel-info">
          <div class="panel-heading">
            <ul class="list-inline">
                <li><h3> {{ diary.title }} </h3></li>
                <li><h4><span class="label label-info">标签</span></h4></li>
            </ul>
          </div>
          <div class="panel-body">
            {{ diary.words }}
          </div>
          <div class="panel-footer">
            {% if user.username %}
                {{ user.username }}
                {% else %}
                {{ user.name }}
                写作于：{{ diary.writeDate }}
            {% endif %}
          </div>
        </div>
    </div>
{% endblock %}