{% extends "blog/content.html" %}



{#这里是具体文章的区域#}
{% block diaries %}
    <div class="center-block" style="width: 75%;">
        <div class="panel panel-info">
          <div class="panel-heading">
            <ul class="list-inline">
                <li><h3> {{ essay.title }} </h3></li>
                {% for label in essay.labels.all %}
                    <li><h4><span class="label label-default">{{ label }}</span></h4></li>
                {% endfor %}
            </ul>
          </div>
          <div class="panel-body">
          {% load static %}
{#          <img class="img-responsive" src="{% static 'blog/images/program.jpg' %}">#}
            {% if essay.words %}
                <blockquote>
                    {{ essay.words }}
                </blockquote>
            {% endif %}
          {% for image in essay.images.all %}
              <img class="img-responsive" src="{{ image.img.path }}">
          {% endfor %}
          {% for file in essay.files.all %}
              {% include file %}
          {% endfor %}
{#          {% include essay.file %}#}
{#          用来将别的网页嵌入到本网页中的语法#}
{#          {% include "blog/main.html" %}#}
          <div class="panel-footer">
            {% if user.username %}
                {{ user.username }}
                {% else %}
                {{ user.name }}
            {% endif %}
          写作于：{{ essay.writeDate }}
          </div>
        </div>
        </div>
    </div>
{% endblock %}