{% extends "blog/content.html" %}


{% block diaries %}
    <div class="center-block" style="width: 50%">
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-xs-offset-1 col-xs-10">
        {% for essay in essays %}
            <div class="container-fluid">
                <div class="col-lg-10">
                    <ul class="list-inline">
                        <li><h2 style="margin: 0"> {{ essay.title }} </h2></li>
                        {% for label in essay.labels.all %}
                            <li><h4><span class="label label-default">{{ label }}</span></h4></li>
                        {% endfor %}
                    </ul>
                </div>
                {% if user.name == id %}
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-warning btn-sm"><h5 style="margin: 0;"><span class="glyphicon glyphicon-edit"></span>       修改</h5></button>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-delete-essay-modal-sm-{{ essay.id }}"><h5 style="margin: 0;"><span class="glyphicon glyphicon-remove"></span>       删除</h5></button>
                    </div>
                {% endif %}
            </div>
            <div class=" left-block ">
                <div class="list-group text-center">
                  <a href="{{ essay.id }}/" class="list-group-item list-group-item-info">
                    <h4 class="list-group-item-heading">{{ essay.introduction }}</h4>
                    <div class="list-group-item-text">
                    </div>
                  </a>
                </div>
            </div>
            <br><br><br><br>
            {#负责确认删除的模态框#}
            <div class="modal fade bs-delete-essay-modal-sm-{{ essay.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="row">
                            <form method="post" action="{% url "blog:deleteEssay" id %}">
                                {% csrf_token %}
                                <div class="col-md-offset-1">
                                    <label><h4>你真的忍心删除我吗？(>﹏<)</h4></label>
                                    <input type="text" hidden value="{{ essay.id }}" name="essayID">
                                    <input type="text" hidden value="{{ contentType }}" name="contentType">
                                </div>
                                <div class="col-md-offset-3 col-md-2">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">不了不了</button>
                                </div>
                                <div class="col-md-offset-1 col-md-2">
                                    <button type="submit" class="btn btn-danger">我就是不要你了</button>
                                </div>
                            </form>
                        </div>
                          <div class="modal-footer">

                          </div>
                    </div>
                  </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}