{% extends "blog/content.html" %}


{% block diaries %}
    <div class="center-block" style="width: 50%">
{#        {% for log in a %}#}
            <ul class="list-inline">
                <li><h3> {{ diary.title }} </h3></li>
                <li><h6><span class="label label-info">标签</span></h6></li>
            </ul>
            <div class=" left-block ">
                <div class="list-group text-center">
                  <a href="1/" class="list-group-item list-group-item-info">
                    <h4 class="list-group-item-heading">{{ diary.introduction }}</h4>
                    <div class="list-group-item-text">
                    </div>
                  </a>
                </div>
            </div>
{#        {% endfor %}#}
    </div>
{% endblock %}