{% extends "blog/basic.html" %}

{% block title %}
    {% if name %}
    {{ name }}的博客
    {% endif %}
    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        您是访客
    {% endif %}
{% endblock %}

{% block head %}
    {% load static %}
    <link href="{% static "blog/main.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} <span class="caret"></span></a>
    {% else %}
        <a href="#" class="dropdown-toggle"  data-toggle="modal" data-target="#myModal">登录<span class="caret"></span></a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="center-block" style="width: 50%">
        <div class=" left-block "  style="width: 50%;">
            <div class="jumbotron" id="bigArea">
                <h3 class="words">生活不止眼前的苟且</h3>
                <h3 class="words">还有诗和远方</h3>
            </div>
        </div>
        <h3>小日记 <span class="label label-info">New</span></h3>
        <div class=" left-block ">
            <div class="list-group text-center">
              <a href="#" class="list-group-item list-group-item-info">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
              </a>
            </div>
        </div>
        <h3>收获  <span class="label label-primary">New</span></h3>
        <div class=" left-block ">
            <div class="list-group text-center">
              <a href="#" class="list-group-item list-group-item-info">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
              </a>
            </div>
        </div>
        <h3>旅游<span class="label label-success">New</span></h3>
        <div class=" left-block ">
            <div class="list-group text-center">
              <a href="#" class="list-group-item list-group-item-info">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
              </a>
            </div>
        </div>
        <h3>照片墙 <span class="label label-default">New</span></h3>
        <div class=" left-block ">
            <div class="list-group text-center">
              <a href="#" class="list-group-item list-group-item-info">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">...</p>
              </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block insert-content %}
    <form action="{% url "blog:loginAction" %}" method="post">
    {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">博客账号</label>
        <input type="text" class="form-control" name="blogID" required placeholder="账号">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input type="password" class="form-control" name="password" required id="exampleInputPassword1" placeholder="密码">
      </div>
        <br>
      <div style="text-align: right;">
        <button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">取消</button>
        <button type="submit"  class="btn btn-primary ">登录</button>
      </div>
    </form>
{% endblock %}