{% extends "blog/content.html" %}

{#{% block login %}#}
{#    {% if user.is_authenticated %}#}
{#        <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
{#            {% if user.username %}#}
{#                您好！  {{ user.username }}#}
{#            {% else %}#}
{#                您好！  {{ user.name }}#}
{#            {% endif %}#}
{#            <span class="caret"></span>#}
{#        </a>#}
{#    {% else %}#}
{#        <a href="#" class="dropdown-toggle"  data-toggle="modal" data-target="#myModal">登录<span class="caret"></span></a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block diaries %}
    {% load static %}
    <div class="row">
        <div class="col-lg-2">
            <div class="thumbnail">
            {% if author.avatar %}
                <img src='{{ author.avatar.url }}'>
            {% else %}
                <img src={% static 'blog/images/welcome.jpg' %} alt='图片走丢了'>
            {% endif %}
              <div class="caption">
                <h3>博主信息</h3>
              <p><span style="font-family: 微软雅黑;font-size: 15px;font-weight: bolder;">生日: </span>{{ author.birthday|default:'生年不详' }}</p>
              <p><span style="font-family: 微软雅黑;font-size: 15px;font-weight: bolder;">星座: </span>{{ author.constellation|default:'暂时不清楚' }}</p>
              <p><span style="font-family: 微软雅黑;font-size: 15px;font-weight: bolder;">身份: </span>
                  {% if author.labels %}
                      {% for label in author.labels.all %}
                            <h4><span class="label label-default">{{ label }}</span></h4>
                      {% endfor %}
                  {% else %}
                      {{ author.birthday|default:'成谜' }}
                  {% endif %}
              </p>
              <p><span style="font-family: 微软雅黑;font-size: 15px;font-weight: bolder;">加入日期: </span>{{ userJoin }}</p>
              <p><span style="font-family: 微软雅黑;font-size: 15px;font-weight: bolder;">上次登录: </span>{{ userLogin }}</p>
              <p><span style="font-family: 微软雅黑;font-size: 15px;font-weight: bolder;">博龄: {{ userJoin|timesince }}</span>  <!--该筛选器表示从建立博客的日期到现在的时间差-->
                  <div class="row">
                      {% if user.name == id %}
                        {% endif %}
                        <div>
                            <a tabindex="0"  class="btn btn-info" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="博主简介" data-content="
                            {{ author.introduction |default:'这个博主很神秘，什么蛛丝马迹都没留下'}}
                            " >博主简介</a>
                        </div>
                  </div>
              </div>
            </div>
          </div>
        <div class="col-lg-6 col-lg-offset-1">
            {% if diaries %}
                <h1>小日记 <span class="label label-info">New</span></h1>
                <br><br>
            {% endif %}
                {% for diary in diaries %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 style="margin: 0"> {{ diary.title }} </h3>
                            </div>
                            {% if user.name == id %}
                                <div class="col-lg-1 col-lg-offset-4 col-xs-offset-0 col-xs-2">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-delete-essay-modal-sm—diary-{{ diary.id }}"><h5 style="margin: 0;"><span class="glyphicon glyphicon-remove"></span>       删除</h5></button>
                                </div>
                            {% endif %}
                        </div>
                    <div class=" left-block ">
                        <div class="list-group text-center">
                          <a href="/id={{ id }}/diary/{{ diary.id }}/" class="list-group-item list-group-item-info">
                            <h4 class="list-group-item-heading">{{ diary.introduction }}</h4>
                            <div class="list-group-item-text">
                            </div>
                          </a>
                        </div>
                    </div>
                    <br>
                    </div>
                    {#负责确认删除的模态框#}
                    <div class="modal fade bs-delete-essay-modal-sm—diary-{{ diary.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="row">
                                    <form method="post" action="{% url "blog:deleteEssay" id %}">
                                        {% csrf_token %}
                                        <div class="col-md-offset-1">
                                            <label><h4>你真的忍心删除我吗？(>﹏<)</h4></label>
                                            <input type="text" hidden value="{{ diary.id }}" name="essayID">
                                            <input type="text" hidden value="小日记" name="contentType">
                                        </div>
                                        <div class="col-md-offset-3 col-md-2">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">不了不了</button>
                                        </div>
                                        <div class="col-md-offset-1 col-md-2">
                                            <button type="submit" class="btn btn-danger">我就是不要你了</button>
                                        </div>
                                    </form>
                                </div>
                                  <div class="modal-footer">

                                  </div>
                            </div>
                          </div>
                    </div>
                {% endfor %}
            {% if techs %}
                <hr>
                <h1>收获  <span class="label label-primary">New</span></h1>
                <br><br>
            {% endif %}
                {% for tech in techs %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 style="margin: 0"> {{ tech.title }} </h3>
                            </div>
                            {% if user.name == id %}
                                <div class="col-lg-1 col-lg-offset-4 col-xs-offset-0 col-xs-2">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-delete-essay-modal-sm—tech-{{ tech.id }}"><h5 style="margin: 0;"><span class="glyphicon glyphicon-remove"></span>       删除</h5></button>
                                </div>
                            {% endif %}
                        </div>
                    <div class=" left-block ">
                        <div class="list-group text-center">
                          <a href="/id={{ id }}/tech/{{ tech.id }}/" class="list-group-item list-group-item-info">
                            <h4 class="list-group-item-heading">{{ tech.introduction }}</h4>
                            <div class="list-group-item-text">
                            </div>
                          </a>
                        </div>
                    </div>
                    <br>
                    </div>
                    {#负责确认删除的模态框#}
                    <div class="modal fade bs-delete-essay-modal-sm—tech-{{ tech.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="row">
                                    <form method="post" action="{% url "blog:deleteEssay" id %}">
                                        {% csrf_token %}
                                        <div class="col-md-offset-1">
                                            <label><h4>你真的忍心删除我吗？(>﹏<)</h4></label>
                                            <input type="text" hidden value="{{ tech.id }}" name="essayID">
                                            <input type="text" hidden value="收获" name="contentType">
                                        </div>
                                        <div class="col-md-offset-3 col-md-2">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">不了不了</button>
                                        </div>
                                        <div class="col-md-offset-1 col-md-2">
                                            <button type="submit" class="btn btn-danger">我就是不要你了</button>
                                        </div>
                                    </form>
                                </div>
                                  <div class="modal-footer">

                                  </div>
                            </div>
                          </div>
                    </div>
                {% endfor %}
            {% if trips %}
                <hr>
                <h1>旅游<span class="label label-success">New</span></h1>
                <br><br>
            {% endif %}
                {% for trip in trips %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 style="margin: 0"> {{ trip.title }} </h3>
                            </div>
                            {% if user.name == id %}
                                <div class="col-lg-1 col-lg-offset-4 col-xs-offset-0 col-xs-2">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-delete-essay-modal-sm—trip-{{ trip.id }}"><h5 style="margin: 0;"><span class="glyphicon glyphicon-remove"></span>       删除</h5></button>
                                </div>
                            {% endif %}
                        </div>
                    <div class=" left-block ">
                        <div class="list-group text-center">
                          <a href="/id={{ id }}/trip/{{ trip.id }}/" class="list-group-item list-group-item-info">
                            <h4 class="list-group-item-heading">{{ trip.introduction }}</h4>
                            <div class="list-group-item-text">
                            </div>
                          </a>
                        </div>
                    </div>
                    <br>
                    </div>
                    {#负责确认删除的模态框#}
                    <div class="modal fade bs-delete-essay-modal-sm—trip-{{ trip.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="row">
                                    <form method="post" action="{% url "blog:deleteEssay" id %}">
                                        {% csrf_token %}
                                        <div class="col-md-offset-1">
                                            <label><h4>你真的忍心删除我吗？(>﹏<)</h4></label>
                                            <input type="text" hidden value="{{ trip.id }}" name="essayID">
                                            <input type="text" hidden value="旅游" name="contentType">
                                        </div>
                                        <div class="col-md-offset-3 col-md-2">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">不了不了</button>
                                        </div>
                                        <div class="col-md-offset-1 col-md-2">
                                            <button type="submit" class="btn btn-danger">我就是不要你了</button>
                                        </div>
                                    </form>
                                </div>
                                  <div class="modal-footer">

                                  </div>
                            </div>
                          </div>
                    </div>
                {% endfor %}
        </div>
    </div>
<script type="text/javascript" src="{% static "blog/jquery.js" %}" ></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
{#        <h3>照片墙 <span class="label label-default">New</span></h3>#}
{#        <div class=" left-block ">#}
{#            <div class="list-group text-center">#}
{#              <a href="#" class="list-group-item list-group-item-info">#}
{#                <h4 class="list-group-item-heading">List group item heading</h4>#}
{#                <p class="list-group-item-text">...</p>#}
{#              </a>#}
{#            </div>#}
{#        </div>#}
{% endblock %}