{% extends "blog/base.html" %}


{% block head %}
    {% load static %}
    <link href="{% static "blog/main.css" %}" rel="stylesheet" media="screen">
{% endblock %}


{% block title %}

{% endblock %}


{#{% block login %}#}
{#    {% if user.is_authenticated %}#}
{#        <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
{#            {% if user.username %}#}
{#                您好！  {{ user.username }}#}
{#            {% else %}#}
{#                您好！  {{ user.name }}#}
{#            {% endif %}#}
{#            <span class="caret"></span>#}
{#        </a>#}
{#    {% else %}#}
{#        <a href="#" class="dropdown-toggle"  data-toggle="modal" data-target="#myModal">登录<span class="caret"></span></a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block content %}
    <div class="center-block" style="width: 50%">
        <div class=" left-block "  style="width: 50%;">
            <div class="jumbotron" id="bigArea">
                <h3 class="words">生活不止眼前的苟且</h3>
                <h3 class="words">还有诗和远方</h3>
            </div>
        </div>
    <hr>
        <h1>小日记 <span class="label label-info">New</span></h1>
        <br><br>
        {% for diary in diaries %}
            <div class="center-block">
                <ul class="list-inline">
                        <li><h3 style="margin: 0"> {{ diary.title }} </h3></li>
                    {% if user.name == id %}
                        <li style="position:absolute;right: 30%"><button type="button" class="btn btn-warning btn-sm"><h5 style="margin: 0;"><span class="glyphicon glyphicon-edit"></span>       修改</h5></button></li>
                        <li style="position: absolute;right:25%;"><button type="button" class="btn btn-danger btn-sm"><h5 style="margin: 0;"><span class="glyphicon glyphicon-remove"></span>       删除</h5></button></li>
                    {% endif %}
                </ul>
            <div class=" left-block ">
                <div class="list-group text-center">
                  <a href="/id={{ id }}/diary/{{ diary.id }}/" class="list-group-item list-group-item-info">
                    <h4 class="list-group-item-heading">{{ diary.introduction }}</h4>
                    <div class="list-group-item-text">
                    </div>
                  </a>
                </div>
            </div>
            <br>
            </div>
        {% endfor %}
    <hr>
        <h1>收获  <span class="label label-primary">New</span></h1>
        <br><br>
        {% for tech in techs %}
            <div class="center-block">
                <ul class="list-inline">
                        <li><h3 style="margin: 0"> {{ tech.title }} </h3></li>
                    {% if user.name == id %}
                        <li style="position:absolute;right: 30%"><button type="button" class="btn btn-warning btn-sm"><h5 style="margin: 0;"><span class="glyphicon glyphicon-edit"></span>       修改</h5></button></li>
                        <li style="position: absolute;right:25%;"><button type="button" class="btn btn-danger btn-sm"><h5 style="margin: 0;"><span class="glyphicon glyphicon-remove"></span>       删除</h5></button></li>
                    {% endif %}
                </ul>
            <div class=" left-block ">
                <div class="list-group text-center">
                  <a href="/id={{ id }}/tech/{{ tech.id }}/" class="list-group-item list-group-item-info">
                    <h4 class="list-group-item-heading">{{ tech.introduction }}</h4>
                    <div class="list-group-item-text">
                    </div>
                  </a>
                </div>
            </div>
            <br>
            </div>
        {% endfor %}
    <hr>
        <h1>旅游<span class="label label-success">New</span></h1>
        <br><br>
        {% for trip in trips %}
            <div class="center-block">
                <ul class="list-inline">
                        <li><h3 style="margin: 0"> {{ trip.title }} </h3></li>
                    {% if user.name == id %}
                        <li style="position:absolute;right: 30%"><button type="button" class="btn btn-warning btn-sm"><h5 style="margin: 0;"><span class="glyphicon glyphicon-edit"></span>       修改</h5></button></li>
                        <li style="position: absolute;right:25%;"><button type="button" class="btn btn-danger btn-sm"><h5 style="margin: 0;"><span class="glyphicon glyphicon-remove"></span>       删除</h5></button></li>
                    {% endif %}
                </ul>
            <div class=" left-block ">
                <div class="list-group text-center">
                  <a href="/id={{ id }}/trip/{{ trip.id }}/" class="list-group-item list-group-item-info">
                    <h4 class="list-group-item-heading">{{ trip.introduction }}</h4>
                    <div class="list-group-item-text">
                    </div>
                  </a>
                </div>
            </div>
            <br>
            </div>
        {% endfor %}
{#        <h3>照片墙 <span class="label label-default">New</span></h3>#}
{#        <div class=" left-block ">#}
{#            <div class="list-group text-center">#}
{#              <a href="#" class="list-group-item list-group-item-info">#}
{#                <h4 class="list-group-item-heading">List group item heading</h4>#}
{#                <p class="list-group-item-text">...</p>#}
{#              </a>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}

{% block insert-content %}
{% endblock %}