{% extends "blog/content.html" %}

{% block diaries %}
    {% load static %}
    <div class="center-block" style="width: 80%;">
        <div class="row">
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
            <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div><div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div><div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-2">
            <a href="" class="thumbnail">
              <img src={% static "blog/images/t.jpg" %} alt="...">
            </a>
          </div>
        </div>
    </div>
{% endblock %}